body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: #161616;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    font-size: 0.9em;
    max-width: 35em;
    line-height: 27px;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    margin: 0.5em 0;
    font-size: 3em;
}

.specs h2, .about h2 {
    font-size: 2em;
    padding-left: 1.2em;
    border-left: 0.1em #5bc7ca solid;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2.5em;
}

nav, .infos, .info,
.specs-header, .specs li,
.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.specs, .icon,
.panel:first-child,
.panel:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 100vh;
    min-height: 30em;
    background: 
    url(fordgt.jpg)
    no-repeat center;
}
